{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
  ],
  "plugins": ["syntax-decorators", "transform-object-rest-spread", "transform-decorators-legacy"]
}
